# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data=[['ivysaur','45','Bulbasaur','yes','grass'],['Charmeleon','39','Charmander','no','fire'],['Wartorle','44','Squirtle','yes','water']]

### Step 3. Assign it to a variable called pokemon

In [4]:
pokemon=pd.DataFrame(data,columns=['evolution','hp','name','pokedex','type'])
print(pokemon)

    evolution  hp        name pokedex   type
0     ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2    Wartorle  44    Squirtle     yes  water

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [10]:
pokemon=pokemon[['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44    Wartorle     yes

### Step 5. Add another column called place, and insert what you have in mind.

In [15]:
places=['Almora','Lucknow','shimla']
pokemon['Places']=places
pokemon

         name   type  hp   evolution pokedex   Places
0   Bulbasaur  grass  45     ivysaur     yes   Almora
1  Charmander   fire  39  Charmeleon      no  Lucknow
2    Squirtle  water  44    Wartorle     yes   shimla

### Step 6. Present the type of each column

In [23]:
pokemon.dtypes

name         object
type         object
hp           object
evolution    object
pokedex      object
Places       object
dtype: object

### BONUS: Create your own question and answer it.

Q.1 count the total hp of all pokemon?

In [29]:

total_hp=pokemon['hp'].sum()
total_hp

'453944'