# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [12]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [13]:
df=pd.read_csv('US_Baby_Names_right.csv', delimiter=',')
df

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 4. See the first 10 entries

In [14]:
df.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [19]:
del df['unnamed: 0']
del df['Id']
df.head()

KeyError: 'unnamed: 0'

### Step 6. Is there more male or female names in the dataset?

In [6]:
df.groupby(by='Gender').count()

        Unnamed: 0      Id    Name    Year   State   Count
Gender
F           558846  558846  558846  558846  558846  558846
M           457549  457549  457549  457549  457549  457549

### Step 7. Group the dataset by name and assign to names

In [7]:
del df['Year']
names=df.groupby('Name').sum()

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_79039/3603866642.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  names=df.groupby('Name').sum()

### Step 8. How many different names exist in the dataset?

In [8]:
names.head(5)

         Unnamed: 0         Id  Count
Name
Aaban       7733801    7733803     12
Aadan       7158061    7158065     23
Aadarsh     1728030    1728031      5
Aaden     555052029  555052225   3426
Aadhav       709606     709607      6

In [10]:
len(names.Name)

AttributeError: 'DataFrame' object has no attribute 'Name'

### Step 9. What is the name with most occurrences?

In [26]:
names['Name'].value_counts().idxmax()

KeyError: 'Name'

### Step 10. How many different names have the least occurrences?

In [29]:
names['Name'].value_counts().min()

1

### Step 11. What is the median name occurrence?

In [21]:
names[names.count()==names.Count.median()]

/var/folders/cv/5d9pcgmx1c7gkjn0tsj4dy0m0000gq/T/ipykernel_79039/1770059234.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  names[names.count()==names.Count.median()]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

### Step 12. What is the standard deviation of names?

In [24]:
names.Count.std()

11006.06946789057

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [25]:
names.describe()

         Unnamed: 0            Id          Count
count  1.763200e+04  1.763200e+04   17632.000000
mean   1.631922e+08  1.631922e+08    2008.932169
std    3.504512e+08  3.504513e+08   11006.069468
min    8.606400e+04  8.606500e+04       5.000000
25%    4.918374e+06  4.918375e+06      11.000000
50%    1.963462e+07  1.963463e+07      49.000000
75%    1.071826e+08  1.071826e+08     337.000000
max    3.223035e+09  3.223036e+09  242874.000000